html {
    font-size: calc(0.28em + 0.28vw);
    font-family: Roboto, "Akkurat", "DM Sans", -apple-system, sans-serif;
}

/*
H1 30 h2 h3 25 h4 20 h5 17  15 p 14 small12
*/

body {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight:400;
    color: #000;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 5px 0px;
    text-align: center;
}
h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 25px 0px;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.7rem;
}
p, div{
    font-size: 1.5rem;
    font-weight:300;
}
a{
    font-weight:400;
}
small{
    font-size: 1.2rem;
}


/* Pages design */
#page{
    padding:10px 4% 20px 4%;
    /*min-width:1040px;*/
    margin:auto;
}

.site-main{
    overflow: scroll;
    flex-basis: 75%;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.site-main::-webkit-scrollbar {
    display: none;
}
.page-body{
    display:flex;
    flex-direction:row;
    border:1px solid black;
    max-height: calc(100vh - 64px);
    height: 100%;}
.wp-block-column:not(:first-child) {
    margin-left: 53px;
}

.site-header audio{
    margin-left:10px;
}
.tabcontent{
    padding: 20px 20px 10px 20px;
}
/* HOME */
.img-bordered img{
    border: 1px solid black;
}
.img-bordered figcaption{
    text-align: center;
    font-size: 1rem;
}
.rs-title{
    display: flex;
    width: calc(100% - 10px);
    justify-content: flex-end;
    border: 1px solid black;
    height: 41px;
    margin: 10px 0 20px 0;
}
.rs-title div{
    border: 1px solid black;
    width: 100%;
    background: white;
    height: 41px;
    margin: -9px -10px 0 0;
}
.rs-title h2{
    font-weight: 400;
    text-align: center;
    margin:6px 0 0 0;
}
.rs-title-light{
    background: rgba(248, 112, 248, 0.51);
}
.rs-title-default{
    background: rgba(131, 46, 199, 0.51);
}
.rs-title-dark{
    background: rgba(25, 0, 255, 0.48);
}

.home-agenda{
    height: 28vw;
}

/* JOURNAL */
.wp-block-columns:first-child{
    margin-bottom: 17px;
}
.wp-block-column p{
    margin-top:0;
}
.wp-block-latest-posts{
    margin: 0;
    padding:0;
}
.wp-block-latest-posts .wp-block-latest-posts__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.replay-images{
    /*padding-bottom: 30px;*/

}
.replay-images div:not(:first-child) {
    margin-left:10px;
}
.replay-images img{
    object-fit:cover;
    width: 100%;
    /*
    width: 100%;
    height: 100px;*/
}
.bloc-articles {
}

.wp-block-latest-posts li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wp-block-latest-posts a{
    order: 1;
    flex-basis: 85%;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.wp-block-latest-posts__post-excerpt{
    margin-top: 0;
    text-align: justify;
    line-height: 1.2;
    order: 2;
}
.wp-block-latest-posts__post-date {
    order: 0;
    flex-basis: 8%;
    font-weight: 400;}
.wp-block-latest-posts.alignleft {
    margin:0;
}

/* IFRAMES */

iframe{
    z-index: 4;
    position: absolute;
    width: calc(100% - 8%);
    background: white;
    left: 4%;
    border: 1px solid black;
    padding: 5px;
    height: 72px;
    bottom: 14px;
}

.widget-controls-top, .singleSound, .soundContainer, .compactSound{
    background:#fff !important;
    border:none !important;
}


@media screen and (max-width: 600px) {
    .page-body{
        flex-direction: column;
        border: none;
        border-top: 1px solid black;
    }
 .img-visu-mois img{
     width:72%;
 }
 .rs-title{

     margin-top: 41px;
     height: 30px;
     border: 2px solid black;
 }
 .rs-title div{
     margin-top: -12px;
     height: 30px;
     border: 2px solid black;
 }
 .rs-title h2{
     margin: 4px 0 0 0;
 }
}
