/* Texte défilant */
.messagedefilant {
    display: block;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: calc(100% - 82px);
    height: 25px;
    margin: 14px 40px 0 40px;

}

.messagedefilant div {
    position: absolute;
    min-width: 103%;
    /* au minimum la largeur du conteneur */
}

.messagedefilant div span,
.messagedefilant div:after {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    top: 0;
    font-size: 1.9rem;
}

.messagedefilant div span,
.messagedefilant div:after {
    color: #1a1c19;
    /*font-style:italic;*/
    margin-top: 0px;
    font-weight: 300;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
}

.messagedefilant div:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
}

@keyframes defilement {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes defilement2 {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0%;
    }
}

.site-header {
    border-right: 2px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* SITE BRANDING + RADIO PLAYER */
/*.src-components-loader__loader--3N_B4 */
#send-loader {
    width: 30px !important;
}

.custom-logo-link {
    display: inline-block;
}

.custom-logo-link img {
    width: 70px;
}

#send-loader {
    display: none;
}

.site-branding {
    padding: 36px 0 0 45px;
}

.site-player {
    display: flex;
    padding: 0 0 0 45px;
    border-bottom: 2px solid black;
    height: 180px;
    align-items: center;
    transition: 0.3s ease;
}


.site-player :before,
.site-player :after {
    display: block;
    content: "";
    /*position: absolute;*/
}

.site-player audio {
    display: none;
}

.play,
.pause {
    width: 80px;
    height: 70px;
    padding: 0 0 0 0px;
    /*   display: block;
*/
    display: flex;
    align-items: center;
}

.site-player a:active,
.site-player a:hover {
    outline: none;
}

.play:before {
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 45px solid #1a1c19;
}

.pause:before {
    background: #1a1c19;
    width: 10px;
    height: 50px;
}

.pause:after {
    background: #1a1c19;
    margin: 0px 0 0 17px;
    width: 10px;
    height: 50px;
}


/* SPINNER */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 60px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 4s linear infinite;
}

div[class^='src-components-current-track__title-block--']>div {
    font-weight: 700;
    line-height: normal;
    white-space: normal;
}

div[class^='src-components-current-track__artist--'] {
    margin-top: 4px;
    /*text-transform: capitalize;*/
    font-weight: 300 !important;
    font-style: italic;
}

div[class^='src-components-current-track__articleCard--'] {
    /*display: none !important;*/
}

#rk-current-track-widget {
    max-width: 81%;
}

#rk-current-track-widget div {
    width: inherit;
}

#rk-current-track-widget div .component div {
    box-shadow: none;
    background: none;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    font-style: normal;
    padding: 0 4px 0px 0px;

}

#rk-current-track-widget div .component div img {
    display: none;
}

#rk-current-track-widget div .component div span {
    display: none;
}


/* MENU */

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

.tablinks {
    cursor: pointer;
    color: #1a1c19;
    /*text-transform: uppercase;*/
}

.tablinks h2 {
    display: inline;
    padding: 2px 8px;
}

.main-navigation h2 {
    border: 2px solid white;
}

.currenttab h2 {
    border: 2px solid black;
}

.active {
    display: block;
}

.main-navigation {
    padding: 28px 0 0 40px;
    z-index: 8;

}

.main-navigation ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -10px;
}

.main-navigation a {

    margin: 0;
    padding: 0;
    display: inline;
    text-decoration: none;
}

.main-navigation h2:hover {
    border: 2px solid black;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}


.main-navigation li {
    position: relative;
    text-decoration: none;
    line-height: 2.5em;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;

}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
    display: block;
    left: auto;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto;
}

#menu-toggle {
    display: none;
}

.header-bio {
    padding: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.site-header-second-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    margin: 40px;
}

.site-header-second-part small {
    align-items: flex-end;
    font-weight: 300;
}

.site-header-second-part a {
    width: 15px;
    margin-right: 2px;
    /*   margin-top: 10px;
       box-shadow: 0 0 0px 8px white;
       z-index: 0;
       background: white;*/
}

.site-branding img {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1) rotate(0) translate3d(0, 0, 0);
    /* Safari*/
    transform: scale(1);

}

img {
    image-rendering: auto;
}

/* MOBILE BURGER MENU */
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
    z-index: 9;

}

.menu__btn {
    display: flex;
    align-items: center;
    position: sticky;
    width: 20px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    margin-top: -13px;

}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: black;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -7px;
}

.menu__btn>span::after {
    content: '';
    top: 7px;
}

.menu__box {
    display: flex;
    flex-direction: column !important;
    padding: 15px 40px 0px 0px !important;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;

    width: calc(100% + 20px);
    height: 100%;
    margin: 0;
    list-style: none;

    background-color: #fff;
    /*box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
*/
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

/* DESKTOP */
@media screen and (min-width: 750px) {

    .site-player:hover {
        background: black;
    }

    .site-player:hover .play:before {
        border-left: 45px solid white;
    }

    .site-player:hover .pause:after {
        background: white;
    }

    .site-player:hover .pause:before {
        background: white;
    }

    .site-player:hover .lds-dual-ring:after {
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
    }

    .site-player:hover div[class^='src-components-current-track__title-block--']>div {
        color: white !important;
    }

    .site-player:hover div[class^='src-components-current-track__artist--'] {
        color: white !important;
    }

}

/* MOBILE */

/*bigphoneonly*/
@media screen and (max-width: 350px) {
    .big-phone-only {
        display: none;
    }
}

@media screen and (min-width: 350px) and (max-width: 782px) {
    .big-phone-only {
        display: inline-block;
    }
}



/* TABLETTE */
@media screen and (max-width: 1000px) and (min-width: 750px) {}

/* SMALL HEIGHT */
@media screen and (max-height: 650px) {
    .site-header {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

/* MOBILE */
@media screen and (max-width: 750px) {
    .custom-logo-link {
        height: 67px
    }

    .site-header {
        border: none;
        flex-basis: auto;
        min-width: auto;
        width: 100%;

        overflow: visible;
    }

    .main-navigation {
        border-bottom: 2px solid black;
    }

    .site-player {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
        z-index: 3;
        border-bottom: none;
        margin: 0 0px 0 0px;
        border-top: 2px solid black;
        height: 73px;
        padding: 0 0 0 37px;
    }

    #rk-current-track-widget div .component div {
        font-size: 1.7rem;
    }

    .messagedefilant div span,
    .messagedefilant div:after {
        font-size: 16px;
    }

    .play:before {
        border-top: 20px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 29px solid #1a1c19;
        border-radius: 3px;
    }

    .pause:before,
    .pause:after {
        height: 40px;
    }

    .play,
    .pause,
    .lds-dual-ring {
        width: 50px;
    }

    .lds-dual-ring {
        margin-left: -11px;
        margin-right: 11px;
    }

    .messagedefilant {
        height: 22px;
        position: absolute;
        bottom: 74px;
        width: 100%;
        background: white;
        z-index: 3;
        border-top: 2px solid black;
        padding-top: 2px;
        margin: -1px 0;
    }

    .site-branding {
        padding: 20px 0 0 0;
        display: flex;
        justify-content: center;
    }

    .site-branding img {
        width: 55px;
    }

    .main-navigation {
        background: white;
        text-align: right;
        z-index: 3;
        padding: 12px 27px 8px 27px;
        width: 100%;
        left: 0px;
        justify-content: space-between;

        display: flex;
        flex-direction: row;
    }

    .main-navigation ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-navigation li[pageselector^="page-radio-journal"] {}

    .tablinks h2 {
        font-size: 15px;
    }

    .header-bio {
        display: none;
    }

    .site-header-second-part {
        display: none;
    }

    #primary-menu {
        width: calc(100% - 26px);
    }
}

@media screen and (min-width: 37.5em) {}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}