.site-header {
    min-width: var(--sidebar-width);
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Novaesium', Arial, sans-serif;
    padding-top: 4rem;
}

/* SITE BRANDING + RADIO PLAYER */
/*.src-components-loader__loader--3N_B4 */
#send-loader {
    width: 30px !important;
}

.custom-logo-link {
    display: inline-block;
}

.custom-logo-link img {
    width: 70px;
}

#send-loader {
    display: none;
}

.site-branding {
    padding: 36px 0 0 45px;
}

/* MENU */

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    margin-top: 4rem;
}

/* tablinks = li */
.tablinks {
    cursor: pointer;
    color: var(--main-color);
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    line-height: 3.3em;
}

.tablinks h2 {
    display: inline;
    font-size: 4rem;
}

.currenttab a, .tablinks a:hover {
    background: var(--secondary-color);
    border-radius: 2px;
}

.tablinks a {
    padding: 2px 10px 2px 18px;
    margin: 0;
    display: inline;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
}

/*
.active {
    display: block;
}*/

.main-navigation {
    z-index: 8;
}

.main-navigation ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -10px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;

}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
    display: block;
    left: auto;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto;
}

#menu-toggle {
    display: none;
}

.header-bio {
    padding: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.site-header-second-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    margin: 4rem 1rem;
}

.site-header-second-part small {
    align-items: flex-end;
    font-weight: 300;
}

.site-header-second-part a {
    margin-right: 0.6rem;
    /*   margin-top: 10px;
       box-shadow: 0 0 0px 8px white;
       z-index: 0;
       background: white;*/
}

.site-branding img {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1) rotate(0) translate3d(0, 0, 0);
    /* Safari*/
    transform: scale(1);

}

img {
    image-rendering: auto;
}

/* MOBILE BURGER MENU */
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
    z-index: 9;

}

.menu__btn {
    display: flex;
    align-items: center;
    position: sticky;
    width: 28px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    margin-top: -13px;

}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -7px;
}

.menu__btn>span::after {
    content: '';
    top: 7px;
}

.menu__box {
    display: flex;
    flex-direction: column !important;
    padding: 15px 40px 0px 0px !important;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;

    width: calc(100% + 20px);
    height: 100%;
    margin: 0;
    list-style: none;

    background-color: #fff;
    /*box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
*/
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}
/*
.menu__item:hover {
    background-color: #CFD8DC;
}*/

/* DESKTOP */
@media screen and (min-width: 750px) {
/*
    .site-player:hover .play:before {
        border-left: 45px solid white;
    }

    .site-player:hover .pause:after {
        background: white;
    }

    .site-player:hover .pause:before {
        background: white;
    }

    .site-player:hover .lds-dual-ring:after {
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
    }

    .site-player:hover div[class^='src-components-current-track__title-block--']>div {
        color: white !important;
    }

    .site-player:hover div[class^='src-components-current-track__artist--'] {
        color: white !important;
    }*/

}

/* MOBILE */

/*bigphoneonly*/
@media screen and (max-width: 413px) {
    .big-phone-only {
        display: none;
    }
}

@media screen and (min-width: 413px) and (max-width: 782px) {
    .big-phone-only {
        display: inline-block;
    }
}



/* TABLETTE */
@media screen and (max-width: 1000px) and (min-width: 750px) {}

/* SMALL HEIGHT */
@media screen and (max-height: 650px) {
    .site-header {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

/* MOBILE */
@media screen and (max-width: 750px) {
    .custom-logo-link {
        height: 67px
    }

    .site-header {
        border: none;
        flex-basis: auto;
        min-width: auto;
        width: 100%;
        padding: 0;
        overflow: visible;
    }

    .main-navigation {
        border-bottom: 0.5rem solid black;
    }

    .site-branding {
        padding: 20px 0 0 0;
        display: flex;
        justify-content: center;
    }

    .site-branding img {
        width: 55px;
    }

    .main-navigation {
        background: white;
        text-align: right;
        z-index: 3;
        padding: 12px 27px 8px 27px;
        width: 100%;
        left: 0px;
        justify-content: space-between;

        display: flex;
        flex-direction: row;
    }

    .main-navigation ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-navigation li[pageselector^="page-radio-journal"] {}

    .tablinks h2 {
        font-size: 2.5rem;
    }

    .header-bio {
        display: none;
    }

    .site-header-second-part {
        display: none;
    }

    #primary-menu {
        width: calc(100% - 26px);
    }
    .tabcontent{
        padding: 0 2rem;
    }
    .tablinks a{
     letter-spacing: 0;
        padding: 2px 5px 2px 5px;
    }
    .hamburger-menu{
        margin-top: 10px;
    }

}

@media screen and (min-width: 37.5em) {}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}