
/* EVENTS PLANNING VSEL */
#vsel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 25vw;
    overflow: hidden;
}
#vsel .vsel-content{
    margin:0 !important;
    border-bottom:none;
    padding-right: 5px !important;
}

/* META */

.vsel-meta{
    width: 100% !important;
    float: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5rem solid black;
}
.vsel-meta-date {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 700;
    letter-spacing: 0;
    /* font-style: italic; */
    display: inline-block;
    font-size: 2.7rem;
}
.vsel-meta-title {
    font-size: 1.7rem;

}
.vsel-meta-time{
    order:2;
    margin: -5px 0 !important;
    display:none;
}
.vsel-meta-title{
}

/* INFO */

.vsel-image-info {
    width: 100% !important;
}
.vsel-image-info p{
    font-style: normal !important;
    margin: 5px 0 !important;
    line-height: 1em;
}
.vsel-image-info:before{
}
.vsel-content h3 {
    margin: 0px 0px 0px 7px !important;
    padding: 0px !important;
    display: inline-block !important;
    order: 1;
    letter-spacing: -1px;
    font-weight: 700 !important;
    font-size: 27px;
    line-height: 30px;
}
.vsel-info, .vsel-image-info{
}
.vsel-info .rs-block-table{
    margin:0;
    margin-bottom: 5px;
}
.vsel-info tr{
    justify-content: space-between;
    display: flex;
}
.vsel-info td{
    min-width: 38px;
    border: none;
    padding: 0;
}
.vsel-content{
    display: flex;
    flex-direction: column;
    padding: 0 0 4rem 0 !important;
    width:100%;
}

.vsel-info p {
    font-style: italic;
}

.ondes-more-planning{
    margin-bottom: 2rem;
}

.max-height-100{
    max-height:100% !important;
}

/*MOBILE */
@media screen and (max-width: 782px) {
    #vsel{
        height: auto;
        flex-direction: row;
        max-height: 100%;

    }
/*    .vsel-container div{
        display:none;
    }
    .vsel-container div:nth-child(-n+2){
        display:flex;
    }*/

    .vsel-content{
        margin: 0 0 14px 0 !important;
    }
    .vsel-meta-date{
        font-size: 1.5rem;
        font-style: italic;
    }
    .ondes-more-planning {
        margin-bottom: 0;
    }
}

/* BIG SCREEN */
@media screen and (min-width: 1300px) {
/*    .vsel-container{
        max-height: 13vw;
    }*/
}
