
/* EVENTS PLANNING VSEL */
.vsel-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 22vw;
    margin-bottom: 60px;
    overflow: hidden;
}
#vsel .vsel-content{
    margin:0 !important;
    border-bottom:none;
    padding-right: 5px !important;
}

/* META */

.vsel-meta{
    width: 100% !important;
    float: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.vsel-meta-date {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 700;
    letter-spacing: 0;
    /* font-style: italic; */
    display: inline-block;
    font-size: 2.7rem;
}
.vsel-meta-title {
    font-size: 1.7rem;

}
.vsel-meta-time{
    order:2;
    margin: -5px 0 !important;
}
.vsel-meta-title{
}

/* INFO */

.vsel-image-info {
    width: 100% !important;
}
.vsel-image-info p{
    font-style: normal !important;
    margin: 5px 0 !important;
    line-height: 1em;
}
.vsel-image-info:before{
}
.vsel-content h3 {
    margin: 0px 0px 0px 7px !important;
    padding: 0px !important;
    display: inline-block !important;
    order: 1;
    letter-spacing: 0!important;
    font-weight: 500 !important;
    font-size: inherit !important;
}
.vsel-info, .vsel-image-info{
}
.vsel-info .wp-block-table{
    margin:0;
    margin-bottom: 5px;
}
.vsel-info tr{
    justify-content: space-between;
    display: flex;
}
.vsel-info td{
    min-width: 38px;
}
.vsel-content{
    display: flex;
    flex-direction: column;
    padding: 0px 0 23px !important;
    width:100%;
}

.vsel-info p {
    font-style: italic;
}

/*MOBILE */
@media screen and (max-width: 600px) {
    .vsel-container{
        height: auto;
        flex-direction: row;
        margin: 41px -37px -4px -37px;
        max-height: 100%;

    }
    .vsel-content{
        margin: 0 0 14px 0 !important;

    }
}

/* BIG SCREEN */
@media screen and (min-width: 1300px) {
    .vsel-container{
        max-height: 24vw;
    }
}
